.board {
  background-color: darkslategray;
  height: 80%;
}
.dealer {
  background-color: cadetblue;
}

.player {
  background-color: lightskyblue;
}

.actions {
  background-color: lightslategrey;
}